.Head {
  background-color: #333;
  width: 100%;
  position: fixed;
  display: block;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
}
.Container {
  max-width: 576px;
  margin: 0 auto;
  width: 100%;
  height: 48px;
  padding: 0 20px;
  display: flex;
}
H1 {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.Logo {
  float: left;
  margin-left: -25px;
  margin-bottom: 2px;
  /* background-image: url(../../../images/confessionsimage.png) -22px -242px
    no-repeat; */
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 1254px) {
  .Head {
    box-sizing: border-box;
  }
  .Container {
    max-width: 992px;
  }
  H1 {
    box-sizing: border-box;
    display: block;
    margin-left: 10px;
  }
}
